<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/invitationWindow.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/invitationWindow.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="inner">
            <!-- 发帖者的用户信息 -->
            <div class="userMessage">
                <!-- 用户头像 -->
                <div class="userImage">
                    <img src="" alt="用户头像">
                </div>
                <!-- 用户昵称 -->
                <span>昵称</span>
                <!-- 用户id -->
                <span>pid:</span>
            </div>
            <!-- 标题 -->
            <div class="invitationTitle">
                <h1>标题</h1>
            </div>
            <!-- 图片预览 -->
            <div class="imagelist">
                <img src="image/1 (1).jpg" alt="">
            </div>
            <!-- 帖子正文 -->
            <div class="invitationMessage">
                <p>
                    广发卡更好低功耗IGjail更煎熬诶的宫颈癌的佛IG哈尔ofID个够爱额额干哈饿哦日更好俄日更好俄日干哈俄日古哈尔风流过哈儿福利挂号费跪安了东方市规划 发大水李工好四个货拉拉更好更好发的快说过话离过婚
                </p>
            </div>
            <!-- 点赞，评论等工具栏 -->
            <div class="utilBox">
                <!-- 评论按钮 -->
                <div class="pcomment">
                    <button>点击评论</button>
                </div>
            </div>
            <!-- 评论列表 -->
            <div class="commentList">
                <ul>
                    <li>1111</li>
                    <li>222</li>
                    <li>333</li>
                    <li>4444</li>
                    <li>4444</li>
                    <li>4444</li>
                    <li>4444</li>
                    <li>4444</li>
                    <li>4444</li>
                    <li>4444</li>
                    <li>4444</li>
                    <li>4444</li>
                    <li>4444</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>