<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>绘画登录页面</title>
    <!-- 引入css文件 -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/login.css">
    <!-- 引入js文件 -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/login.js"></script>
</head>

<body>
    <div class="wrap">
        <!-- 网页头部 -->
        <div class="head">
            <div class="title">
                <h1>绘画论坛</h1>
            </div>
        </div>

        <!-- 主体 -->
        <div class="centerbody">

            <!-- 主体左部，图片轮转 -->
            <div class="leftdiv">
                <div class="imagechange">
                    <img src="image/1 (1).jpg" alt="封面图片">
                </div>
            </div>

            <!-- 主体右部，登录框 -->
            <div class="rightdiv">
                <div class="loginbox">
                    <span class="logintitle">请登录</span>
                    <form>
                        <div class="loginmessage">
                            <span>用户名</span>
                            <span>密码</span>
                            <span>验证码</span>
                        </div>
                        <div class="logininput">
                            <input id="username" type="text" /><br>
                            <div class="usernameError"><span>用户名输入有误</span></div>
                            <input id="password" type="password" /><br>
                            <div class="passwdError"><span>密码输入有误</span></div>
                            <input id="aptchaText" type="text"><br>
                            <div class="aptchaError"><span>验证码输入有误</span></div>
                            <div class="aptchaImage"><img id="aptcha" onclick="change()" src="http://localhost:8080/getcha" alt="验证码" /></div>
                        </div>
                    </form>
                    <div class="loginbutton">
                        <div class="login">
                            <button type="button" onclick="checklogin()">登录</button>
                        </div>
                        <div class="regist">
                            <button onclick="window.location='gotoregist'">注册</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 网页尾部 -->
        <div class="foot"></div>
    </div>
</body>

</html>