<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paint.mapper.InvitationMapper">
    <sql id="allcol">
        id,title,text,create_date,have_picture,star,state
    </sql>

    <select id="getInvitationPageList" parameterType="com.paint.pojo.PageModel"
            resultType="com.paint.pojo.po.Invitation">
        select
        <include refid="allcol"/>
        from p_invitation
        <where>
            state=1
            <if test="createDate != null">
                and create_date &lt;= #{createDate}
            </if>
        </where>
        ORDER BY create_date DESC limit #{start},#{pageSize};
    </select>

    <select id="getInvitationCount" parameterType="com.paint.pojo.PageModel" resultType="integer">
        select
        count(*)
        from p_invitation
        <where>
            state=1
            <if test="createDate != null">
                and create_date &lt;= #{createDate}
            </if>
        </where>
    </select>
</mapper>